{% extends 'pages/base.html'%}
{% load static %}
{% block custom_style %}
<style>
  body {
    padding-top: 54px;
  }
  @media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
  }

</style>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-lg-12 text-center">
    <h1 class="mt-5">About Me</h1><br />
    <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
    <h3>Chive (チャイブ)</h3>
    <p class="lead">I am a Software Engineer and a musician who simply loves Japanese music, anime, and Sakamichi Series!</p><br />
    
    <h2 align="left"># Where it all started</h2>
    <p class="lead" align="left">I started out as a fan of AKB48 (until now although I haven't followed them since then) when I accidentally watched Shin Domoto Kyoudai around late 2012, where Takamina was one of the MCs. The concept of the show eventually got interesting for me and also sparked my curiosity for Takamina along with AKB48. From there, I started watching Akbingo, especially Shoujiki Shougi, then proceeded by watching their MVs and listening to their music. The first music and MV that I liked from them was not their popular ones like HebiRote or Aitakatta, it was Gingham Check.<p/>
    
    <img src="{% static 'images/about_yuko_gingham.jpg' %}"/>
    <p class="lead"><em>Yuko!!!!!!</em></p>
    
    <h4 align="left">> So, How did I discover Nogizaka46?</h4>
    
    <p align="left" class="lead">It was a mere coincidence. There were actually two instances that I stumbled upon them. The first one was when I watched Magi: The Labyrinth of Magic. Yes! you already have an idea by now. It was Magi's first ending theme, "Yubi Bōenkyō".</p>

    <p align="left" class="lead">The second instance was the one that got me to them. Around late 2013, vid48 was still existent. It was a website that features music videos and subbed shows from different idol groups in Japan although most videos are from Akb48 (hence the name). One time, while I was browsing the website, I saw a thumbnail of Nogizaka46's Barrette. It somehow caught my attention because it seemed so dark and I thought that it was a bit unusual compared to the idol image I had in my mind. I clicked and watched it and I was not wrong, it was really dark.</p>
    
    <img src="{% static 'images/about_barrette1.jpg' %}"/>
    <img src="{% static 'images/about_barrette2.jpg' %}"/>
    <img src="{% static 'images/about_barrette3.jpg' %}"/>
    <img src="{% static 'images/about_barrette4.jpg' %}"/>
    <p class="lead"><em>Imagine seeing these scenes for the first time. Interesting isn't it?</em></p><br />
    
    <p align="left" class="lead">Miona's image back then really fits in with this song's mood. Maybe because of the pressure she felt when she suddenly got selected as the center for this single along with the fact that she's still new to the group.</p>
    
    <p align="left" class="lead">It was a very new concept and it was interesting at least but not up to the point that I liked it. That was also the time when they released "Tsuki No Ookisa" as one of Naruto Shippuuden's opening theme. I watched the MV and again, it caught my attention.</p>
    
    <img src="{% static 'images/about_tsuki1.jpg' %}"/>
    <img src="{% static 'images/about_tsuki2.jpg' %}"/>
    <p class="lead"><em>Ninjas and sword fights!</em></p><br />
    
    <p align="left" class="lead">Their concept eventually grew on me as time goes by. Back to the same pattern again. I then watched NogiDoko and it was really fun. I can still remember the first episode I watched. It was during the waterfall hit challenge wherein they gave prayers at the bottom of the waterfall. That was also the first time where I saw Nanamin laughing at Ikuchan's unfortunate accident LOL!<br /><br />
    And the rest is history.....</p><br />
    
    <h2 align="left"># So, Why do I like them?</h2>
    
    <p align="left" class="lead">Here are the major factors for me:<br /><em>
    1) Sound<br />
    2) Music Videos<br />
    3) Costumes/fashion<br />
    4) Transparency</em></p>

    <p align="left" class="lead">Let's just say it's because of the difference. They are beautiful, they have long skirts, they portray elegance (their dances, their costumes, and the way they act), and they are compact as a group.</p>

    <p align="left" class="lead">Another thing is transparency. I admit, I don't know anything about Akb48 members' personal life as compared to Nogizaka (It's not even Akb's concept to begin with). NogiDoko and NogiChuu usually talks about member's skills, experiences, or about their personal life, most especially about their families. Just like how Ashu was getting fed by her mother every morning (she's living by herself now) or how Nanamin talks about how poor her family was before. It gives me a realistic view of how human they are.</p><br />
    
    <h2 align="left"># Favorite Songs</h2>
    <p align="left" class="lead">There are many nice songs from Nogizaka46, even my smartphone is loaded mostly with their singles and I listen to them everyday. I'll just give a list based on my first 10 favorite songs.</p>
    
    <p align="left" class="lead"><em>1) 他の星から (Hoka no hoshi kara)<br />
    2) 何もできずにそばにいる (Nani mo dekizu ni soba ni iru)<br />
    3) 僕がいる場所 (Boku ga iru basho)<br />
    4) 夏のFree＆Easy (Natsu no Free & Easy)<br />
    5) 低体温のキス (Teitaion no Kiss)<br />
    6) その先の出口 (Sono saki no deguchi)<br />
    7) 生まれたままで (Umareta mama de)<br />
    8) 羽根の記憶 (Hane no kioku)<br />
    9) 僕が行かなきゃ誰が行くんだ? (Boku ga yukanakya dare ga yukunda?)<br />
    10) 隙間 (Sukima)</em></p><br />
  
    <h2 align="left"># Oshimen (推しメン)</h2>
    <img src="{% static 'images/about_shiraishi.jpg' %}"/>
    <p class="lead"><em>Shiraishi Mai (白石麻衣)</em></p><br />
    
    <img src="{% static 'images/about_nishino.jpg' %}"/>
    <p class="lead"><em>Nishino Nanase (西野七瀬)</em></p><br />
    
    <img src="{% static 'images/about_wakatsuki.jpg' %}"/>
    <p class="lead"><em>Wakatsuki Yumi (若月佑美)</em></p><br />
  </div>
</div>
{% endblock %}
