{% for updates in blog_updates %}
  <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="#" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="{{ updates.blog_url }}">{{ updates.blog_name }}</a>
        </h4>
        <p class="card-text">
        {% if updates.blog_posts %}
          {% if updates.blog_name in updated_blogs %}
          <a id="a-{{ updates.blog_name }}_{{ updates.blog_posts_n }}-{{ updates.blog_cookie_ref_idx }}" href="#" data-toggle="modal" data-target="#modal-{{ updates.blog_name }}" onclick="return updateCookie(this.id, 'blog')">
            <span style="font-size:25px;color:red;">
          {% else %}
          <a id="a-{{ updates.blog_name }}_{{ updates.blog_posts_n }}-{{ updates.blog_cookie_ref_idx }}" href="#" data-toggle="modal" data-target="#modal-{{ updates.blog_name }}">
            <span style="font-size:25px;">
          {% endif %}
              {{ updates.blog_posts_n }}
            </span>
          </a>
        {% else %}
        <span style="font-size:25px;">{{ updates.blog_posts_n }}</span>
        {% endif %}
          post(s) since {{ updates.date }}.
        </p>
      </div>
    </div>
  </div>

  {% if updates.blog_posts %}
  <div class="modal fade" id="modal-{{ updates.blog_name }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ updates.blog_name }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="font-size:13px">
        {% for post in updates.blog_posts %}
          {{ post | safe }} <br />
        {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endfor %}
