{% for info in fb_group_infos %}
  <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
    <div class="card h-100">
      <a href="{{ info.url }}"><img class="card-img-top" src="{{ info.img_url }}" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="{{ info.url }}">{{ info.name }}</a>
        </h4>
        <p class="card-text">
        {% if info.posts %}
          {% if info.id in fb_updated_grp_ids %}
          <a id="a-{{ info.id }}_{{ info.post_count }}-{{ info.cookie_ref_idx }}" href="#" data-toggle="modal" data-target="#modal-{{ info.id }}" onclick="return updateCookie(this.id, 'fb');">
            <span style="font-size:25px;color:red;">
          {% else %}
          <a id="a-{{ info.id }}_{{ info.post_count }}-{{ info.cookie_ref_idx }}" href="#" data-toggle="modal" data-target="#modal-{{ info.id }}">
            <span style="font-size:25px;">
          {% endif %}
            {{ info.post_count }}</span>
          </a>
        {% else %}
        <span style="font-size:25px;">{{ info.post_count }}</span>
        {% endif %}
          post(s) since {{ fb_target_date }}.
        </p>
      </div>
    </div>
  </div>

  {% if info.posts %}
  <div class="modal fade" id="modal-{{ info.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ info.name }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="font-size:13px">
        {% for fb_post in info.posts %}
          <strong>{{ fb_post.created_time }}</strong> {{ fb_post.story | safe }} {{ fb_post.message }}<br />
        {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endfor %}
