<div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
  <div class="card h-100">
    <a href="#"><img class="card-img-top" src="http://res.cloudinary.com/dr031frrx/image/upload/v1521175807/forum_stage48_cpk6ir.jpg" alt=""></a>
    <div class="card-body">
      <h4 class="card-title">
        <a href="{{ stage48_updates.forum_url }}">{{ stage48_updates.forum_name }}</a>
      </h4>
      <p class="card-text">
      {% if stage48_updates.forum_posts %}
        <a href="#" data-toggle="modal" data-target="#modal-{{ stage48_updates.forum_name }}">
          <span style="font-size:25px;">{{ stage48_updates.forum_posts_n }}</span>
        </a>
      {% else %}
      <span style="font-size:25px;">{{ stage48_updates.forum_posts_n }}</span>
      {% endif %}
         alert(s) for {{ stage48_updates.date }}
      </p>
    </div>
  </div>
</div>

{% if stage48_updates.forum_posts %}
<!-- Stage48 Modal -->
<div class="modal fade" id="modal-{{ stage48_updates.forum_name }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ stage48_updates.forum_name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="font-size:13px">
      {% for alert in stage48_updates.forum_posts %}
        {{ alert | safe }}<br />
      {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endif %}

<!--
<div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
  <div class="card h-100">
    <a href="#"><img class="card-img-top" src="http://res.cloudinary.com/dr031frrx/image/upload/v1521175807/forum_onehallyu_vubcld.jpg" alt=""></a>
    <div class="card-body">
      <h4 class="card-title">
        <a href="https://onehallyu.com/">OneHallyu</a>
      </h4>
      <p class="card-text"><a href="#" data-toggle="modal" data-target="#modal-onehallyu"><span style="font-size:25px;">{{ onehallyu_notifs_n }}</span></a> notification(s) for today.</p>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-onehallyu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">OneHallyu Notifications</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="font-size:13px">
      {% for alert in onehallyu_notifs %}
        {{ alert | safe }}<br />
      {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
-->
