{% extends 'pages/base.html'%}
{% load static %}
{% block content %}
<div class="row">
  <div class="col-lg-12 text-center">
    <h1 class="mt-5">Available Subtitles</h1><br />
    <p class="lead">Some subs here might not have the same timing for your raw video so please edit them using softwares like Aegisub.</p><br />
    <p class="lead"><em>Credits to AIDOL, UKN, Ikudon, Good Enough Subs, Mastoppu and Nullion, Flondrapica, Conjyak, Depressing Subs, and others (I'm sorry if I forgot.)</em></p><br /><br />
    <p class="lead"><a class="nav-link" href="{% url 'subs_list' %}?subs=nogichuu">Nogizaka Under Construction</a></p>
    <p class="lead"><a class="nav-link" href="{% url 'subs_list' %}?subs=nogibingo">Nogibingo</a></p>
    <p class="lead"><a class="nav-link" href="{% url 'subs_list' %}?subs=nogiten">Nogiten</a></p>
  </div>
</div>
{% endblock %}
