{% extends 'pages/base.html'%}
{% load static %}

{% block custom_style %}
<!-- Custom styles for this template -->
<link href="{% static 'bootstrap/css/4-col-portfolio.css' %}" rel="stylesheet">

<style>
#stage48 {
  background-color: black;
  padding-top: 1cm;
  padding-left: 0.5cm;
  padding-bottom: 1cm;
  color: white;
}

#onehallyu {
  background-color: #134e72;
  padding-top: 1cm;
  padding-left: 0.5cm;
  padding-bottom: 1cm;
  color: white;
}

</style>
{% endblock %}

{% block content %}
<br /><h1 class="my-4">46G-related Forums</h1>
<div id="forums" class="row">
   <!-- loading screen -->
  <div id="loading-screen" class="col-lg-12 text-center">
    <img src="{% static 'images/loader.gif' %}"/>
  </div>
</div><br />

<h1 class="my-4">46G-related FB Pages</h1>
<div id="fb-pages" class="row">
  <!-- loading screen -->
  <div id="loading-screen" class="col-lg-12 text-center">
    <img src="{% static 'images/loader.gif' %}"/>
  </div>
</div><br />

<h1 class="my-4">46G-related Blogs</h1>
<div id="blogs" class="row">
  <!-- loading screen -->
  <div id="loading-screen" class="col-lg-12 text-center">
    <img src="{% static 'images/loader.gif' %}"/>
  </div>
</div><br />


{% endblock %}

{% block jscalls %}
$.ajax({
    url: '{% url 'forum_updates' %}',
    type: 'get', // This is the default though, you don't actually need to always mention it
    success: function(data) {
        $("#forums").html(data)
    },
    failure: function(data) { 
        console.log('got an error: forum_updates');
    }
}); 

$.ajax({
    url: '{% url 'fb_updates' %}',
    type: 'get',
    success: function(data) {
        $("#fb-pages").html(data)
    },
    failure: function(data) { 
        console.log('got an error: fb_updates');
    }
}); 

$.ajax({
    url: '{% url 'blog_updates' %}',
    type: 'get',
    success: function(data) {
        $("#blogs").html(data)
    },
    failure: function(data) { 
        console.log('got an error: blog_updates');
    }
});

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
            // Only send the token to relative URLs i.e. locally.
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    }
});

function updateCookie(href_id, which)
{
    var dashPos = href_id.lastIndexOf("-");
    var underscorePos = href_id.lastIndexOf("_");
    var cookieRefIdx = href_id.slice(dashPos+1, href_id.length);
    var postCount = href_id.slice(underscorePos+1, dashPos);

    $.ajax({
        url: '{% url 'update_cookie' %}',
        type: 'POST',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify({'which':which, 'cookie_ref_idx':cookieRefIdx, 'post_count':postCount}),
        beforeSend: function(xhr, settings) {
            $.ajaxSettings.beforeSend(xhr, settings);
        },
        success: function(data) {
            // remove color attribute from style
            $("#" + href_id + " span").css("color", "");

            // remove onclick
            $("#" + href_id).removeAttr("onclick");
        },
        failure: function(data) { 
            console.log('got an error: updatedFbCookie');
        }
    });

    return true;
}
{% endblock %}
