{% extends 'pages/base.html'%}
{% load static %}
{% block custom_style %}
<!-- Custom styles for this template -->
<link href="{% static 'bootstrap/css/4-col-portfolio.css' %}" rel="stylesheet">

<style>
#stage48 {
  background-color: black;
  padding-top: 1cm;
  padding-left: 0.5cm;
  padding-bottom: 1cm;
  color: white;
}

#onehallyu {
  background-color: #134e72;
  padding-top: 1cm;
  padding-left: 0.5cm;
  padding-bottom: 1cm;
  color: white;
}

</style>
{% endblock %}

{% block content %}
<br /><h1 class="my-4">46G-related Forums</h1>
<div id="forums" class="row">
   <!-- loading screen -->
  <div id="loading-screen" class="col-lg-12 text-center">
    <img src="{% static 'images/loader.gif' %}"/>
  </div>
<!--
  <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="{% static 'images/forum_onehallyu.jpg' %}" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="https://onehallyu.com/">OneHallyu</a>
        </h4>
        <p class="card-text"><a href="#" data-toggle="modal" data-target="#modal-onehallyu"><span style="font-size:25px;">{{ onehallyu_notifs_n }}</span></a> notification(s) for today.</p>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal-onehallyu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">OneHallyu Notifications</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="font-size:13px">
        {% for alert in onehallyu_notifs %}
          {{ alert | safe }}<br />
        {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
-->
</div><br />

<h1 class="my-4">46G-related FB Pages</h1>
<div id="fb-pages" class="row">
  <!-- loading screen -->
  <div id="loading-screen" class="col-lg-12 text-center">
    <img src="{% static 'images/loader.gif' %}"/>
  </div>
</div><br />

<h1 class="my-4">46G-related Blogs</h1>
<div id="blogs" class="row">
  <!-- loading screen -->
  <div id="loading-screen" class="col-lg-12 text-center">
    <img src="{% static 'images/loader.gif' %}"/>
  </div>
</div><br />


{% endblock %}

{% block jscalls %}
$.ajax({
    url: '{% url 'forum_updates' %}',
    type: 'get', // This is the default though, you don't actually need to always mention it
    success: function(data) {
        $("#forums").html(data)
    },
    failure: function(data) { 
        alert('Got an error dude');
    }
}); 

$.ajax({
    url: '{% url 'fb_updates' %}',
    type: 'get',
    success: function(data) {
        $("#fb-pages").html(data)
    },
    failure: function(data) { 
        alert('Got an error dude');
    }
}); 

$.ajax({
    url: '{% url 'blog_updates' %}',
    type: 'get',
    success: function(data) {
        $("#blogs").html(data)
    },
    failure: function(data) { 
        alert('Got an error dude');
    }
});
{% endblock %}
