{% extends 'pages/base.html'%}
{% load static %}
{% block custom_style %}
<!-- Custom styles for this template -->
<link href="{% static 'bootstrap/css/4-col-portfolio.css' %}" rel="stylesheet">

<style>
#stage48 {
  background-color: black;
  padding-top: 1cm;
  padding-left: 0.5cm;
  padding-bottom: 1cm;
  color: white;
}

#onehallyu {
  background-color: #134e72;
  padding-top: 1cm;
  padding-left: 0.5cm;
  padding-bottom: 1cm;
  color: white;
}

</style>
{% endblock %}

{% block content %}
<!-- Page Heading -->
<br /><h1 class="my-4">46G-related Forums</h1>
<div class="row">
  <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="{% static 'images/forum_stage48.jpg' %}" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="http://www.stage48.net/forum/index.php#nogizaka46.62">Stage48</a>
        </h4>
        <p class="card-text"><a href="#" data-toggle="modal" data-target="#modal-stage48"><span style="font-size:25px;">{{ stage48_alerts_n }}</span></a> alert(s) for today.</p>
      </div>
    </div>
  </div>
  <!-- Stage48 Modal -->
  <div class="modal fade" id="modal-stage48" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Stage48 Alerts</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="font-size:13px">
        {% for alert in stage48_alerts %}
          {{ alert | safe }}<br />
        {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="{% static 'images/forum_onehallyu.jpg' %}" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="https://onehallyu.com/">OneHallyu</a>
        </h4>
        <p class="card-text"><a href="#" data-toggle="modal" data-target="#modal-onehallyu"><span style="font-size:25px;">{{ onehallyu_notifs_n }}</span></a> notification(s) for today.</p>
      </div>
    </div>
  </div>
  <!-- OneHallyu Modal -->
  <div class="modal fade" id="modal-onehallyu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">OneHallyu Notifications</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="font-size:13px">
        {% for alert in onehallyu_notifs %}
          {{ alert | safe }}<br />
        {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div><br />

<h1 class="my-4">46G-related FB Pages</h1>
<div class="row">
{% for info in fb_group_infos %}
  {% with 'images/fb_group_'|add:info.id|add:'.jpg' as href_url %}
  <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
    <div class="card h-100">
      <a href="{{ info.url }}"><img class="card-img-top" src="{% static href_url %}" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="{{ info.url }}">{{ info.name }}</a>
        </h4>
        <p class="card-text"><a href="#" data-toggle="modal" data-target="#modal-{{ info.id }}"><span style="font-size:25px;">{{ info.post_count }}</span></a> post(s) since {{ fb_target_date }}.</p>
      </div>
    </div>
  </div>
  {% endwith %}
  <!-- FB Group Modal -->
  <div class="modal fade" id="modal-{{ info.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ info.name }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="font-size:13px">
        {% for fb_post in info.posts %}
          <strong>{{ fb_post.created_time }}</strong> {{ fb_post.story | safe }} {{ fb_post.message }}<br />
        {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</div><br />

<!-- Blog Updates Check -->
<h1 class="my-4">46G-related Blogs</h1>
<div class="row">
{% for updates in blog_updates %}
  <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="#" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="{{ updates.blog_url }}">{{ updates.blog_name }}</a>
        </h4>
        <p class="card-text"><a href="#" data-toggle="modal" data-target="#modal-{{ updates.blog_name }}"><span style="font-size:25px;">{{ updates.blog_posts_n }}</span></a> post(s) since {{ updates.date }}.</p>
      </div>
    </div>
  </div>
  <!-- Blog Modal -->
  <div class="modal fade" id="modal-{{ updates.blog_name }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ updates.blog_name }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="font-size:13px">
        {% for post in updates.blog_posts %}
          {{ post | safe }}
        {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</div><br />


{% endblock %}
